<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="border border-4 border-warning ">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <h1 class="text text-warning text-center mt-5 mb-5">❤️🙏 WELCOME ❤️🙏</h1>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="border border-4 border-warning ">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <h1 class="text text-info text-center mt-5 mb-5">🐼🐼{{name}}🐼🐼</h1>
            </div>
            <div class="d-flex justify-content-center align-items-center"><button class="btn btn-success text-center" (click)="logOut()">Logout</button></div>
            <br>
            </div>
        </div>
    </div>
</div>  
